.container{
    padding: 0%;
    display: flex;
    width: 800px;
    height: 800px;
    background-color: aliceblue;
    margin: auto;
    justify-content: start;
    flex-wrap: wrap;
    align-content: center;
}
.item{
    min-width:200px;
    min-height: 200px;
    background-color: red;
    border: 1px solid;
    text-align: center;
    color: aliceblue;

}